@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwindの設定で上書きされてしまうので、importantを設定する */
.amplify-button--primary {
  background-color: var(
    --amplify-components-button-primary-background-color
  ) !important;
}

/* styles/globals.css もしくは該当コンポーネントのCSS */
@keyframes liner-progress {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-liner-progress {
  animation: liner-progress 1s linear infinite;
}
/* Forcing line breaks in code blocks */
.prose pre {
  white-space: pre-wrap !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  max-width: 100% !important;
}

/* Additional styling for code blocks */
.code-block-wrap {
  white-space: pre-wrap !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  max-width: 100% !important;
}
